

img{
    width: 350px;
    padding: 15px;
    margin: 50px;
    float: right;

}
section{
    margin: 50px;
    background-color: lightgray;
    border:solid 2px black;
    border-radius:5px;
    color: purple;

}

.clear{
    clear: both;
}
p{
    margin: 20px 50px;
}
.larger{
    font-size: 3em;
    background-color: blue;
    color: red;
    text-align: center;

}
h1{
    font-size: 2em;
}
.first{
    text-align: center;
}

.car{
    width: 600px;
}