body{
    background-color: turquoise;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    /* grid-template-rows: 150px 500px 500px; */
    row-gap: 50px;
}
#success{
    
    grid-column: 1/-1;
   background-color: deeppink;
   grid-row: 1;
}
#first{
    
    grid-template-columns: 1fr 4fr;
}